<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw n' Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css" />
</head>

<body>

    <div id="errorContainer" class="hidden">
        <div id="errorContent">
            <p id="errorText"></p>
            <i id="closeErrorContainer" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
        </div>
    </div>

    <!-- This makes sure the footer is separated from the main page -->
    <div id="content-wrap">

        <%- include('../partials/header.ejs') %>

        <%- include('../partials/gallery.ejs') %>

        <%- include('../partials/chat.ejs') %>

        <%- include('../partials/canvas.ejs') %>

    </div>

    <%- include('../partials/toolbar.ejs') %>

    <%- include('../partials/templates.ejs') %>


    <script src="javascript/utilityFunctions.js"></script>
    <script src="javascript/canvas.js"></script>
    <script src="javascript/chat.js"></script>
    <script src="javascript/websocket.js"></script>
    <script src="javascript/gallery.js"></script>

    <!-- easterEggScript -->
    <!-- <script src="javascript/easteregg.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>